<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>分类展示</title>
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/search.css"/>
		<link rel="stylesheet" href="css/category.css"/>
	</head>
	<body>
		<div id="content">
			<div class="cat-desc">
				<h2>人物</h2>
			</div>
			<div class="cy-line">
			</div>
			<div id="woo-holder">
				<div class="woo-pcont stpics clr woo-mashed">
					<div class="woo">
						<div class="thumb">
							<div class="mbpho" style="height: 197px;">
								<!--动态指定高度-->
								<a href="#" class="a" target="_blank">
									<img height="197" src="http://img4.duitang.com/uploads/blog/201404/17/20140417141735_ZUCSU.thumb.200_0.jpeg" data-iid="16131683" alt="第三集 转化的灵感 【杏仁牛奶豆腐】" data-rootid="138025822">
								</a>
								<div class="collbtn" style="display: none;">
									<a href="#" class="clt">1</a>
									<a href="#" class="gd">2</a>
									<a href="#" class="bad">3</a>
									<a href="#" class="comt">4</a>
								</div>
							</div>
							<div class="r">
								<span class="r1">1</span>
								<span class="r2">2</span>
								<span class="r3">踩3</span>
								<span class="r4">4</span>
							</div>
							<div class="title">
								第三集 转化的灵感 【杏仁牛奶豆腐】
							</div>
							<ul>
								<li class="f">
									<a href="#" target="_blank">
										<img width="24" height="24" src="http://img4.duitang.com/uploads/people/201403/17/20140317002548_5xScw.thumb.24_24_c.jpeg">
									</a>
									<p>
										<a href="/people/2311238/" target="_blank" class="p">
											艾勒
										</a>
										&nbsp;收集到&nbsp;
										<a href="/album/57043646/" target="_blank">
											你知道我有多…
										</a>
										&nbsp;专辑中
									</p>
								</li>
								<li class="last">
									<a href="#" target="_blank">
										<img width="24" height="24" src="http://img4.duitang.com/uploads/people/201403/17/20140317002548_5xScw.thumb.24_24_c.jpeg">
									</a>
									<p>
										<a href="/people/1970074/" target="_blank">
											christineyan
										</a>
										主料：杏仁露1罐，牛奶1袋
										<br />
										辅料：琼脂4-5克
										<br />
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="woo" data-id="138050952">
						<div class="thumb">
							<div style="height:198px;" class="mbpho">
								<a href="/people/mblog/138050952/detail/" class="a" target="_blank">
									<img height="198" src="http://img4.duitang.com/uploads/item/201404/17/20140417161350_3t8W2.thumb.200_0.jpeg" data-iid="16134495" alt="第六集 五味的调和 【水煮鱼】" data-rootid="138050952">
								</a>
								<div data-favorite="{&quot;id&quot;:138050952,&quot;owner&quot;:2287999}" class="collbtn" style="position: fixed; left: 458px; top: 78px; display: none;">
									<a href="#" class="clt">
										179
									</a>
									<a href="#" class="gd">
										0
									</a>
									<a href="#" class="bad">
										4
									</a>
									<a href="#" class="comt">
										0
									</a>
								</div>
							</div>
							<div class="r">
								<span class="r1">179</span>
								<span class="r2">0</span>
								<span class="r3">4</span>
								<span class="r4">6</span>
							</div>
							<div class="title">
								第六集 五味的调和 【水煮鱼】
							</div>
							<ul>
								<li class="f">
									<a href="/people/2287999/" target="_blank">
										<img width="24" height="24" src="http://img4.duitang.com/uploads/people/201401/15/20140115014745_4K4Tr.png">
									</a>
									<p>
										<a href="/people/2287999/" target="_blank" class="p">
											水清无香0926
										</a>
										&nbsp;收集到&nbsp;
										<a href="/album/56611995/" target="_blank">
											创意美食
										</a>
										&nbsp;专辑中
									</p>
								</li>
								<li class="last">
									<a href="/people/1970074/" target="_blank">
										<img width="24" height="24" src="http://img5.duitang.com/uploads/people/201311/26/20131126230115_PAEzZ.thumb.24_24_c.jpeg">
									</a>
									<p>
										<a href="/people/1970074/" target="_blank">
											christineyan
										</a>&nbsp;原料：鲜活鲤鱼或者草鱼一条; &lt;br /&gt;
										配料：黄豆芽; &lt;br /&gt;
										调料：水煮鱼调料、花生油适量; &lt;br /&gt;
										做法： &lt;br /&gt;
										１鲜鱼去鳞去内脏，洗净后斩成块； &lt;br /&gt;
										２、用调料里的腌鱼料包加上料酒腌上； &lt;br /&gt;
										３、黄豆芽洗净后焯熟； &lt;br /&gt;
										４、捞出来放冷水里过一下，这样能保持黄豆芽脆嫩的口感； &lt;br /&gt;
										５、然后捞出来平铺在锅底； &lt;br /&gt;
										６…
									</p>
								</li>
								<li class="last">
									<a href="/people/1970074/" target="_blank">
										<img width="24" height="24" src="http://img5.duitang.com/uploads/people/201311/26/20131126230115_PAEzZ.thumb.24_24_c.jpeg">
									</a>
									<p>
										<a href="/people/1970074/" target="_blank">
											christineyan
										</a>&nbsp;烹饪技巧： &lt;br /&gt;
										1、水煮鱼调料在超市就有卖，也可以自己调味。 &lt;br /&gt;
										2、煮鱼的水量不宜多，以鱼片放入后，刚刚被水淹过即可。煮好倒入盆中后，有部分鱼片会露在外边。 &lt;br /&gt;
										3、鱼肉吃完的，可以把汤汁重新倒回锅内，下豆腐或粉带或魔芋等等，就是水煮鱼火锅了。或者干脆一开始就把煮好的鱼放入电火锅中，吃完鱼后，直接开火就行了。
									</p>
								</li>
								<li class="last">
									<a href="/people/1970074/" target="_blank">
										<img width="24" height="24" src="http://img5.duitang.com/uploads/people/201311/26/20131126230115_PAEzZ.thumb.24_24_c.jpeg">
									</a>
									<p>
										<a href="/people/1970074/" target="_blank">
											christineyan
										</a>&nbsp;吃出健康： &lt;br /&gt;
										１、草鱼含有丰富的不饱和脂肪酸，对血液循环有利，是心血管病人的良好食物； &lt;br /&gt;
										２、草鱼含有丰富的硒元素，经常食用有抗衰老、养颜的功效，而且对肿瘤也有一定的防治作用； &lt;br /&gt;
										３、对于身体瘦弱、食欲不振的人来说，草鱼肉嫩而不腻，可以开胃、滋补。
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
