<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/a.css"/>
	{% block extracss %}{% endblock %}
</head>
<body style="background-color: #F1F2F3;">
	<header class="cy-nav">
		<div class="cy-nav-wrap">
			<div id="CyNavBd" class="cy-nav-bd">
				<div class="cy-logo">
					<a title="草叶网" href="/"> <strong>LOGO</strong>
					</a>
				</div>
				<div class="cy-nav-bd-l">
					<div id="NavCat" class="nav-cat menu <!--hover-->
						">
						<div class="menu-hd">
							<div class="menu-tt">
								分类 <i></i>
							</div>
						</div>
						<div class="menu-bd">
							<div class="menu-panel" style="width: 274px;">
								<div class="mod mod-a" style="height: 72px;">
									<ul>
									<li>
										<a href="#">全部</a>
									</li>
								</ul>
							</div>
							<div class="mod-vline"></div>
							<div class="mod mod-b" style="height: 72px;">
								<ul>
									<li>
										<a href="#">人物</a>
									</li>
									<li>
										<a href="#">创意</a>
									</li>
									<li>
										<a href="#">旅游</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href="#">艺术</a>
									</li>
									<li>
										<a href="#">生活</a>
									</li>
									<li>
										<a href="#">时尚</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cy-search">
				<form action="#" method="get">
					<div class="search-wrap">
						<input id="search" class="inp" type="text" placeholder="搜下有什么好照片" name="search" autocomplete="off">
						<button type="submit" class="search-icon"></button>
					</div>
				</form>
			</div>
			<div class="cy-nav-bd-r">
			{% if user.is_authenticated %}
				<div id="cy-account" class="cy-has-menu cy-hd
					">
					<div class="navtools-hd">
						<a class="cy-account-btn" href="#">
							<img class="cy-avatar" src="http://cdn.duitang.com/uploads/people/201401/15/20140115164140_ThyRs.thumb.48_48_c.jpeg">
							<span>我的帐号</span> <i></i>
						</a>
					</div>
					<div class="navtools-bd cy-account">
						<div class="navtools-panel" style="width: 146px;height: 112px;">
							<ul>
								<li>
									<a href="/people/{{ info.slug }}">个人主页</a>
								</li>
								<li>
									<a href="#">帐号设置</a>
								</li>
							</ul>
							<ul class="logout">
								<li>
									<a href="/logout/">退出</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--竖直分隔线-->
				<div class="cy-vline"></div>
				<div id="cy-notification" class="cy-has-menu cy-hd">
					<a href="#">消息</a>
					<div class="cy-menu" style="display:none;"></div>
				</div>
				<div class="cy-vline"></div>
				<div id="cy-issue" class="cy-has-menu cy-hd">
					<a href="#">关注动态</a>
					<div class="cy-menu" style="display:none;"></div>
				</div>
				<div class="cy-vline"></div>
				<div id="cy-add" class="cy-has-menu cy-hd
					">
					<div class="navtools-hd btn-bar">
							<a class="cy-add-btn" href="javascript:;">
							<span>发布</span>
						</a>
					</div>
					<div class="navtools-bd cy-add">
						<div class="navtools-panel" style="width: 140px;">
							<ul>
								<li>
									<a id="upload-img" href="javascript:;">上传图片</a>
								</li>
								<li>
									<a id="create-album" href="javascript:;">创建专辑</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				{% else %}
				<div id="cy-login" class="cy-has-menu cy-hd">
					<a href="/login/?next={{request.path}}">登录</a>
				</div>
				<div class="cy-vline"></div>
				<div id="cy-register" class="cy-has-menu cy-hd">
					<a href="/register">注册</a>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="cy-nav-ft"></div>
	</div>
</header>

{% block content %}{% endblock %}

<!-- 登录弹出框 -->
<div id="CyLoginModal" style="display: none;">
	<div class="cy-modal-body" style="width: 460px;">
		<div class="title">
			<span>登录草叶网</span>
			<a onclick="SUGAR.PopOut.closeModal();" href="javascript:;" target="_self" class="cy-modal-close">关闭</a>
		</div>
		<div class="article">
			<div class="win-wraper clr" id="poplogin">
				<div class="cont">
					<form action="#" method="POST">
						<div class="item">
							<label for="username">账号</label>
							<input class="basic-input" type="text" placeholder="用户名/邮箱" name="username" tabindex="1"></div>
						<div class="item">
							<label for="password">密码</label>
							<input class="basic-input" type="password" placeholder="密码" name="password" tabindex="2"></div>
						<div class="item">
							<label></label>
							<p class="remember">
								<input type="checkbox" tabindex="4" name="remember" id="remember">
								<label class="remember" for="remember">下次自动登录</label>
								|
								<a href="/accounts/resetpassword">忘记密码</a>
							</p>
						</div>
						<div class="item">
							<label></label>
							<input class="btn-submit" type="submit" tabindex="5" name="user_login" value="登录"/>
							<a class="register btn" href="/accounts/register/">立即注册&gt;&gt;</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--创建专辑弹出框-->
<div id="CyCreateModal" style="display: none;">
	<div class="cy-modal-body" style="width: 460px;">
		<div class="title">
			<span>创建专辑</span>
			<a onclick="" href="javascript:;" target="_self" class="cy-modal-close">关闭</a>
		</div>
		<div class="article">
			<div id="popcreate" class="win-wraper clr">
				<div class="cont">
					<form action="{% url 'gallery.views.create_album' %}" method="POST">
					{% csrf_token %}
						<div class="item">
							<label for="albumname">专辑名</label>
							<input class="basic-input" type="text" name="albumname" tabindex="1"></div>
						<div class="item">
							<label for="albumdesc">描述</label>
							<textarea class="basic-input" name="albumdesc" tabindex="2"></textarea></div>
						<!-- <div class="item">
							<label for="albumtags">标签</label>
							<input class="basic-input" type="text" placeholder="多个标签用英文逗号隔开" name="albumtags" tabindex="3"></div> -->
						<div class="item">
							<label></label>
							<input class="btn-submit" type="submit" tabindex="5" name="create_album" value="创建"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--上传图片弹出框-->
<div id="CyUploadModal" style="display: none;">
	<div class="cy-modal-body" style="width: 460px;">
		<div class="title">
			<span>上传图片</span>
			<a onclick="SUGAR.PopOut.closeModal();" href="javascript:;" target="_self" class="cy-modal-close">关闭</a>
		</div>
		<div class="article">
			<div id="popcreate" class="win-wraper clr">
				<div class="cont">
					<form action="{% url 'gallery.views.upload' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
						<div class="item">
							<label>图片</label>
							<input class="fileinput-btn" type="file" name="files[]" tabindex="1"></div>
						<div class="item">
							<label for="">专辑</label>
							<select class="selector" name="selector" id="album-selector"></select>
						</div>
						<div class="item">
							<label for="photodesc">描述</label>
							<textarea class="basic-input" name="photodesc" tabindex="2"></textarea></div>
						<div class="item">
							<label for="phototags">标签</label>
							<input class="basic-input" type="text" placeholder="多个标签用英文逗号隔开" name="phototags" tabindex="3"></div>
						<div class="item">
							<label></label>
							<input class="btn-submit" type="submit" tabindex="5" name="upload_image" value="上传"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="side-combo">
	<div class="side-combo-bd">
		<a id="GoTop" class="btn go-top" href="#top" style="display: inline;">回到顶部</a>
		<a class="cy-report" href="#">反馈意见</a>
	</div>
</div>
<footer id="footer" class="footer"></footer>
<script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/home.js"></script>
<script type="text/javascript">
	$(function() {
		$("#NavCat").mouseover(function() {
			$(this).addClass("hover");
		}).mouseout(function() {
			$(this).removeClass("hover");
		});
		$(".cy-has-menu").mouseover(function() {
			$(this).addClass("hover");
		}).mouseout(function() {
			$(this).removeClass("hover");
		});

		$("#create-album").click(function() {//显示创建专辑对话框
			$("#CyCreateModal").css("display", "block");
		});
		$("#upload-img").click(function() {//显示上传图片对话框
			//查询用户的所有专辑
			selector = $('#album-selector');
            $.getJSON("/request_albums/" + {{ user.id }} + "/",
                function(data) {
                    jQuery.each(data, function() {
                        selector.append('<option class="'
                            + '">' + this.fields.name + '</option>'
                        );
                    });
                }
            );
			$("#CyUploadModal").css("display", "block");
		});
		$(".cy-modal-close").click(function(){
			$("#CyCreateModal").css("display", "none");
			$("#CyUploadModal").css("display", "none");
		});
	});
	</script>
{% block extrajs %}{% endblock %}
</body>
</html>