{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
{% endblock %}

{% block content %}
<div id="content">
	<div id="user_page">
		<div class="wrapper clearfix" style="width: 1070px;">
			<div id="user_card">
				<div class="maozi"></div>
				<div class="inner clearfix ">
					<div class="avatar-unit">
						<a href="images/12897294125937.jpg" title="叶-飘落" class="img x">
							<img src="images/12897294125937.jpg">
						</a>
						<div class="counts clearfix">
							<a href="/m9wgki0zpf/followers/" class="followers">
								<div class="num">
									0
								</div>
								<div class="sub">
									粉丝
								</div>
							</a>
							<a href="/m9wgki0zpf/following/" class="follows">
								<div class="num">
									0
								</div>
								<div class="sub">
									关注
								</div>
							</a>
						</div>
					</div>
					<div class="head-line">
						<div class="name">
							叶-飘落
						</div>
					</div>
					<ul class="introduction">
						<span>一段旧时光如诗如画，美丽得烟花般灿烂，匆匆得流星般划过，温馨得不能再温馨。一直写在梦里，藏在心间，活在记忆里。那些过往悠闲若云，清淡若水，飘过岭坳，流向烟波，酸甜苦辣便已走过，沉默过……再回首，是一个人最深的情愁，在流年中酝酿，在尘世窖藏。沉淀得如午后阳光的香醇。</span>
					</ul>
					<div class="about clearfix"></div>
					<div class="action-buttons">
						<a href="/settings/" class="btn btn14">
							<span class="text"> 账号设置</span>
						</a>
					</div>
					<div class="bindings"></div>
				</div>
				<div class="tabs">
					<a href="/m9wgki0zpf/" class="tab active">
						原创
					</a>
					<a href="/m9wgki0zpf/pins/" class="tab ">
						专辑
					</a>
					<a href="/m9wgki0zpf/likes/" class="tab ">
						喜欢
					</a>
					<a href="/m9wgki0zpf/commodities/" class="tab ">
						收藏
					</a>
					<a href="/m9wgki0zpf/commodities/" class="tab ">
						图片
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="waterfall">
		<div id="water">
		</div>
		<div class="cy-block">
		<div class="pictures-list">
			<div class="row">
				<div class="col-md-12">
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<a href="#">
								<img src="images/pic1.jpeg" alt="..."></a>
							<div class="caption">
								<a href="#">
									<strong>点点书香</strong>
								</a>
								<div class="pull-right">
									<p>45人喜欢</p>
								</div>
								<div class="thumbattr">
									<p>
										by
										<a href="#" class="cy-username" target="_blank">炉石娘</a>
									</p>
								</div>
							</div>
						</div>
						<div class="thumb-bottom-a"></div>
						<div class="thumb-bottom-b"></div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<a href="#">
								<img src="images/pic1.jpeg" alt="..."></a>
							<div class="caption">
								<a href="#">
									<strong>点点书香</strong>
								</a>
								<div class="pull-right">
									<p>45人喜欢</p>
								</div>
								<div class="thumbattr">
									<p>
										by
										<a href="#" class="cy-username" target="_blank">炉石娘</a>
									</p>
								</div>
							</div>
						</div>
						<div class="thumb-bottom-a"></div>
						<div class="thumb-bottom-b"></div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<a href="#">
								<img src="images/pic1.jpeg" alt="..."></a>
							<div class="caption">
								<a href="#">
									<strong>点点书香</strong>
								</a>
								<div class="pull-right">
									<p>45人喜欢</p>
								</div>
								<div class="thumbattr">
									<p>
										by
										<a href="#" class="cy-username" target="_blank">炉石娘</a>
									</p>
								</div>
							</div>
						</div>
						<div class="thumb-bottom-a"></div>
						<div class="thumb-bottom-b"></div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<a href="#">
								<img src="images/pic1.jpeg" alt="..."></a>
							<div class="caption">
								<a href="#">
									<strong>点点书香</strong>
								</a>
								<div class="pull-right">
									<p>45人喜欢</p>
								</div>
								<div class="thumbattr">
									<p>
										by
										<a href="#" class="cy-username" target="_blank">炉石娘</a>
									</p>
								</div>
							</div>
						</div>
						<div class="thumb-bottom-a"></div>
						<div class="thumb-bottom-b"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
</script>
{% endblock %}
